@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin haf-pseudo {
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

@mixin slickPurpleArrows() {
    .slick-prev,
    .slick-next {

        &:before {
            content: '';
        }
        @include size( 59px )
    }

    .slick-prev {
        left: -100px;
        background: url( 'images/icons/slider__prev--purple.png' ) center center no-repeat;
    }

    .slick-next {
        right: -100px;
        background: url( 'images/icons/slider__next--purple.png' ) center center no-repeat;

    }
}

@mixin slickWhiteArrowsBlocks() {
    .slick-prev,
    .slick-next {
        @include size( 70px 470px );
        z-index: 2;

        &:before {
            content: '';
        }
    }

    .slick-prev {
        left: 0px;
        background: url( 'images/icons/slider__prev--white.png' ) center center no-repeat, rgba( #000, .5);
    }

    .slick-next {
        right: 0px;
        background: url( 'images/icons/slider__next--white.png' ) center center no-repeat, rgba( #000, .5);

    }
}