footer.site-footer(style="background: url('images/bg__footer.jpg') center center no-repeat;")
    .site-wrapper
        .site-footer__footer-container
            .site-footer__contact-form-block
                h3.contact-form-block__title Свяжитесь с нами

                form#footer-contacts-form.footer-contacts-form(action="")
                    .inputs-row
                        p
                            input#name(type="text", name="name", placeholder="Ваше имя")
                        p
                            input#phone(type="text", name="phone", placeholder="Ваш телефон")
                    p
                        input#email(type="text", name="email", placeholder="Email")
                    p
                        textarea#message(type="text", name="message", placeholder="Сообщение")
                    input.btn__send-form--green-arrow(type="submit", value="Отправить")

            .site-footer__contact-info
                h3.contact-info__title Контактная информация
                .contact-info__contact-info-list
                    .contacts-info-list__contact-item
                        span.contact-item__label Адрес
                        span.contact-item__info Санкт-Петербург<br> Невский пр., 147
                    .contacts-info-list__contact-item
                        span.contact-item__label E-Mail
                        span.contact-item__info info@richnessrealty.ru
                    .contacts-info-list__contact-item
                        span.contact-item__label Телефон
                        span.contact-item__info +7 812 340-00-48
                    .contacts-info-list__contact-item
                        span.contact-item__label Факс
                        span.contact-item__info +7 812 340-00-48
section.copyrights
    .site-wrapper
        span © «Загородное домостроительство», 2016 Все права защищены
    
    
script(src='./all.js', type='text/javascript')    
