#feedback-call-popup.feedback-call-form__container.mfp-hide.zoom-anim-dialog
    form#feedback-call-form.white-popup-block
        h1 Обратный звонок
        p Специалист по недвижимости может перезвонить вам сейчас<br> и бесплатно проконсультировать по всем вопросам<br> и акционным предложениям.
        fieldset
            .inputs-row
                p
                    label(for="name") Ваше имя
                    input#name(name="name", type="text")
                p
                    label(for="phone") *Ваш телефон
                    input#phone(name="phone", type="text")

            .inputs-row
                input.btn__send-form--white-arrow(type="submit", value="Жду звонка")