// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-balloon-name: 's-balloon';
$s-balloon-x: 69px;
$s-balloon-y: 340px;
$s-balloon-offset-x: -69px;
$s-balloon-offset-y: -340px;
$s-balloon-width: 47px;
$s-balloon-height: 55px;
$s-balloon-total-width: 500px;
$s-balloon-total-height: 438px;
$s-balloon-image: 'images/sprite.png';
$s-balloon: (69px, 340px, -69px, -340px, 47px, 55px, 500px, 438px, 'images/sprite.png', 's-balloon', );
$s-benefit-deadlines-name: 's-benefit__deadlines';
$s-benefit-deadlines-x: 340px;
$s-benefit-deadlines-y: 0px;
$s-benefit-deadlines-offset-x: -340px;
$s-benefit-deadlines-offset-y: 0px;
$s-benefit-deadlines-width: 160px;
$s-benefit-deadlines-height: 160px;
$s-benefit-deadlines-total-width: 500px;
$s-benefit-deadlines-total-height: 438px;
$s-benefit-deadlines-image: 'images/sprite.png';
$s-benefit-deadlines: (340px, 0px, -340px, 0px, 160px, 160px, 500px, 438px, 'images/sprite.png', 's-benefit__deadlines', );
$s-benefit-fixed-price-name: 's-benefit__fixed-price';
$s-benefit-fixed-price-x: 0px;
$s-benefit-fixed-price-y: 0px;
$s-benefit-fixed-price-offset-x: 0px;
$s-benefit-fixed-price-offset-y: 0px;
$s-benefit-fixed-price-width: 160px;
$s-benefit-fixed-price-height: 160px;
$s-benefit-fixed-price-total-width: 500px;
$s-benefit-fixed-price-total-height: 438px;
$s-benefit-fixed-price-image: 'images/sprite.png';
$s-benefit-fixed-price: (0px, 0px, 0px, 0px, 160px, 160px, 500px, 438px, 'images/sprite.png', 's-benefit__fixed-price', );
$s-benefit-guarantee-name: 's-benefit__guarantee';
$s-benefit-guarantee-x: 170px;
$s-benefit-guarantee-y: 0px;
$s-benefit-guarantee-offset-x: -170px;
$s-benefit-guarantee-offset-y: 0px;
$s-benefit-guarantee-width: 160px;
$s-benefit-guarantee-height: 160px;
$s-benefit-guarantee-total-width: 500px;
$s-benefit-guarantee-total-height: 438px;
$s-benefit-guarantee-image: 'images/sprite.png';
$s-benefit-guarantee: (170px, 0px, -170px, 0px, 160px, 160px, 500px, 438px, 'images/sprite.png', 's-benefit__guarantee', );
$s-benefit-installment-name: 's-benefit__installment';
$s-benefit-installment-x: 0px;
$s-benefit-installment-y: 170px;
$s-benefit-installment-offset-x: 0px;
$s-benefit-installment-offset-y: -170px;
$s-benefit-installment-width: 160px;
$s-benefit-installment-height: 160px;
$s-benefit-installment-total-width: 500px;
$s-benefit-installment-total-height: 438px;
$s-benefit-installment-image: 'images/sprite.png';
$s-benefit-installment: (0px, 170px, 0px, -170px, 160px, 160px, 500px, 438px, 'images/sprite.png', 's-benefit__installment', );
$s-benefit-years-of-success-name: 's-benefit__years-of-success';
$s-benefit-years-of-success-x: 170px;
$s-benefit-years-of-success-y: 170px;
$s-benefit-years-of-success-offset-x: -170px;
$s-benefit-years-of-success-offset-y: -170px;
$s-benefit-years-of-success-width: 160px;
$s-benefit-years-of-success-height: 160px;
$s-benefit-years-of-success-total-width: 500px;
$s-benefit-years-of-success-total-height: 438px;
$s-benefit-years-of-success-image: 'images/sprite.png';
$s-benefit-years-of-success: (170px, 170px, -170px, -170px, 160px, 160px, 500px, 438px, 'images/sprite.png', 's-benefit__years-of-success', );
$s-calculator-name: 's-calculator';
$s-calculator-x: 126px;
$s-calculator-y: 340px;
$s-calculator-offset-x: -126px;
$s-calculator-offset-y: -340px;
$s-calculator-width: 37px;
$s-calculator-height: 49px;
$s-calculator-total-width: 500px;
$s-calculator-total-height: 438px;
$s-calculator-image: 'images/sprite.png';
$s-calculator: (126px, 340px, -126px, -340px, 37px, 49px, 500px, 438px, 'images/sprite.png', 's-calculator', );
$s-carousel-projects-loupe-name: 's-carousel-projects__loupe';
$s-carousel-projects-loupe-x: 340px;
$s-carousel-projects-loupe-y: 170px;
$s-carousel-projects-loupe-offset-x: -340px;
$s-carousel-projects-loupe-offset-y: -170px;
$s-carousel-projects-loupe-width: 72px;
$s-carousel-projects-loupe-height: 72px;
$s-carousel-projects-loupe-total-width: 500px;
$s-carousel-projects-loupe-total-height: 438px;
$s-carousel-projects-loupe-image: 'images/sprite.png';
$s-carousel-projects-loupe: (340px, 170px, -340px, -170px, 72px, 72px, 500px, 438px, 'images/sprite.png', 's-carousel-projects__loupe', );
$s-form-blocks-name-name: 's-form-blocks__name';
$s-form-blocks-name-x: 344px;
$s-form-blocks-name-y: 340px;
$s-form-blocks-name-offset-x: -344px;
$s-form-blocks-name-offset-y: -340px;
$s-form-blocks-name-width: 32px;
$s-form-blocks-name-height: 25px;
$s-form-blocks-name-total-width: 500px;
$s-form-blocks-name-total-height: 438px;
$s-form-blocks-name-image: 'images/sprite.png';
$s-form-blocks-name: (344px, 340px, -344px, -340px, 32px, 25px, 500px, 438px, 'images/sprite.png', 's-form-blocks__name', );
$s-form-blocks-phone-name: 's-form-blocks__phone';
$s-form-blocks-phone-x: 478px;
$s-form-blocks-phone-y: 252px;
$s-form-blocks-phone-offset-x: -478px;
$s-form-blocks-phone-offset-y: -252px;
$s-form-blocks-phone-width: 20px;
$s-form-blocks-phone-height: 33px;
$s-form-blocks-phone-total-width: 500px;
$s-form-blocks-phone-total-height: 438px;
$s-form-blocks-phone-image: 'images/sprite.png';
$s-form-blocks-phone: (478px, 252px, -478px, -252px, 20px, 33px, 500px, 438px, 'images/sprite.png', 's-form-blocks__phone', );
$s-form-footer-email-name: 's-form-footer__email';
$s-form-footer-email-x: 473px;
$s-form-footer-email-y: 340px;
$s-form-footer-email-offset-x: -473px;
$s-form-footer-email-offset-y: -340px;
$s-form-footer-email-width: 18px;
$s-form-footer-email-height: 12px;
$s-form-footer-email-total-width: 500px;
$s-form-footer-email-total-height: 438px;
$s-form-footer-email-image: 'images/sprite.png';
$s-form-footer-email: (473px, 340px, -473px, -340px, 18px, 12px, 500px, 438px, 'images/sprite.png', 's-form-footer__email', );
$s-form-footer-message-name: 's-form-footer__message';
$s-form-footer-message-x: 445px;
$s-form-footer-message-y: 340px;
$s-form-footer-message-offset-x: -445px;
$s-form-footer-message-offset-y: -340px;
$s-form-footer-message-width: 18px;
$s-form-footer-message-height: 17px;
$s-form-footer-message-total-width: 500px;
$s-form-footer-message-total-height: 438px;
$s-form-footer-message-image: 'images/sprite.png';
$s-form-footer-message: (445px, 340px, -445px, -340px, 18px, 17px, 500px, 438px, 'images/sprite.png', 's-form-footer__message', );
$s-form-footer-name-name: 's-form-footer__name';
$s-form-footer-name-x: 478px;
$s-form-footer-name-y: 295px;
$s-form-footer-name-offset-x: -478px;
$s-form-footer-name-offset-y: -295px;
$s-form-footer-name-width: 15px;
$s-form-footer-name-height: 15px;
$s-form-footer-name-total-width: 500px;
$s-form-footer-name-total-height: 438px;
$s-form-footer-name-image: 'images/sprite.png';
$s-form-footer-name: (478px, 295px, -478px, -295px, 15px, 15px, 500px, 438px, 'images/sprite.png', 's-form-footer__name', );
$s-form-footer-phone-name: 's-form-footer__phone';
$s-form-footer-phone-x: 386px;
$s-form-footer-phone-y: 340px;
$s-form-footer-phone-offset-x: -386px;
$s-form-footer-phone-offset-y: -340px;
$s-form-footer-phone-width: 19px;
$s-form-footer-phone-height: 20px;
$s-form-footer-phone-total-width: 500px;
$s-form-footer-phone-total-height: 438px;
$s-form-footer-phone-image: 'images/sprite.png';
$s-form-footer-phone: (386px, 340px, -386px, -340px, 19px, 20px, 500px, 438px, 'images/sprite.png', 's-form-footer__phone', );
$s-form-arrow-green-name: 's-form__arrow--green';
$s-form-arrow-green-x: 0px;
$s-form-arrow-green-y: 409px;
$s-form-arrow-green-offset-x: 0px;
$s-form-arrow-green-offset-y: -409px;
$s-form-arrow-green-width: 27px;
$s-form-arrow-green-height: 29px;
$s-form-arrow-green-total-width: 500px;
$s-form-arrow-green-total-height: 438px;
$s-form-arrow-green-image: 'images/sprite.png';
$s-form-arrow-green: (0px, 409px, 0px, -409px, 27px, 29px, 500px, 438px, 'images/sprite.png', 's-form__arrow--green', );
$s-form-arrow-white-name: 's-form__arrow--white';
$s-form-arrow-white-x: 37px;
$s-form-arrow-white-y: 409px;
$s-form-arrow-white-offset-x: -37px;
$s-form-arrow-white-offset-y: -409px;
$s-form-arrow-white-width: 27px;
$s-form-arrow-white-height: 29px;
$s-form-arrow-white-total-width: 500px;
$s-form-arrow-white-total-height: 438px;
$s-form-arrow-white-image: 'images/sprite.png';
$s-form-arrow-white: (37px, 409px, -37px, -409px, 27px, 29px, 500px, 438px, 'images/sprite.png', 's-form__arrow--white', );
$s-header-call-name: 's-header__call';
$s-header-call-x: 415px;
$s-header-call-y: 340px;
$s-header-call-offset-x: -415px;
$s-header-call-offset-y: -340px;
$s-header-call-width: 20px;
$s-header-call-height: 19px;
$s-header-call-total-width: 500px;
$s-header-call-total-height: 438px;
$s-header-call-image: 'images/sprite.png';
$s-header-call: (415px, 340px, -415px, -340px, 20px, 19px, 500px, 438px, 'images/sprite.png', 's-header__call', );
$s-info-name: 's-info';
$s-info-x: 223px;
$s-info-y: 340px;
$s-info-offset-x: -223px;
$s-info-offset-y: -340px;
$s-info-width: 31px;
$s-info-height: 32px;
$s-info-total-width: 500px;
$s-info-total-height: 438px;
$s-info-image: 'images/sprite.png';
$s-info: (223px, 340px, -223px, -340px, 31px, 32px, 500px, 438px, 'images/sprite.png', 's-info', );
$s-popup-close-name: 's-popup__close';
$s-popup-close-x: 173px;
$s-popup-close-y: 340px;
$s-popup-close-offset-x: -173px;
$s-popup-close-offset-y: -340px;
$s-popup-close-width: 40px;
$s-popup-close-height: 40px;
$s-popup-close-total-width: 500px;
$s-popup-close-total-height: 438px;
$s-popup-close-image: 'images/sprite.png';
$s-popup-close: (173px, 340px, -173px, -340px, 40px, 40px, 500px, 438px, 'images/sprite.png', 's-popup__close', );
$s-popup-feedback-call-name: 's-popup__feedback-call';
$s-popup-feedback-call-x: 74px;
$s-popup-feedback-call-y: 409px;
$s-popup-feedback-call-offset-x: -74px;
$s-popup-feedback-call-offset-y: -409px;
$s-popup-feedback-call-width: 19px;
$s-popup-feedback-call-height: 20px;
$s-popup-feedback-call-total-width: 500px;
$s-popup-feedback-call-total-height: 438px;
$s-popup-feedback-call-image: 'images/sprite.png';
$s-popup-feedback-call: (74px, 409px, -74px, -409px, 19px, 20px, 500px, 438px, 'images/sprite.png', 's-popup__feedback-call', );
$s-radio-checked-name: 's-radio--checked';
$s-radio-checked-x: 264px;
$s-radio-checked-y: 340px;
$s-radio-checked-offset-x: -264px;
$s-radio-checked-offset-y: -340px;
$s-radio-checked-width: 30px;
$s-radio-checked-height: 30px;
$s-radio-checked-total-width: 500px;
$s-radio-checked-total-height: 438px;
$s-radio-checked-image: 'images/sprite.png';
$s-radio-checked: (264px, 340px, -264px, -340px, 30px, 30px, 500px, 438px, 'images/sprite.png', 's-radio--checked', );
$s-radio-name: 's-radio';
$s-radio-x: 304px;
$s-radio-y: 340px;
$s-radio-offset-x: -304px;
$s-radio-offset-y: -340px;
$s-radio-width: 30px;
$s-radio-height: 30px;
$s-radio-total-width: 500px;
$s-radio-total-height: 438px;
$s-radio-image: 'images/sprite.png';
$s-radio: (304px, 340px, -304px, -340px, 30px, 30px, 500px, 438px, 'images/sprite.png', 's-radio', );
$s-slider-next-purple-name: 's-slider__next--purple';
$s-slider-next-purple-x: 0px;
$s-slider-next-purple-y: 340px;
$s-slider-next-purple-offset-x: 0px;
$s-slider-next-purple-offset-y: -340px;
$s-slider-next-purple-width: 59px;
$s-slider-next-purple-height: 59px;
$s-slider-next-purple-total-width: 500px;
$s-slider-next-purple-total-height: 438px;
$s-slider-next-purple-image: 'images/sprite.png';
$s-slider-next-purple: (0px, 340px, 0px, -340px, 59px, 59px, 500px, 438px, 'images/sprite.png', 's-slider__next--purple', );
$s-slider-next-white-name: 's-slider__next--white';
$s-slider-next-white-x: 409px;
$s-slider-next-white-y: 252px;
$s-slider-next-white-offset-x: -409px;
$s-slider-next-white-offset-y: -252px;
$s-slider-next-white-width: 59px;
$s-slider-next-white-height: 59px;
$s-slider-next-white-total-width: 500px;
$s-slider-next-white-total-height: 438px;
$s-slider-next-white-image: 'images/sprite.png';
$s-slider-next-white: (409px, 252px, -409px, -252px, 59px, 59px, 500px, 438px, 'images/sprite.png', 's-slider__next--white', );
$s-slider-prev-purple-name: 's-slider__prev--purple';
$s-slider-prev-purple-x: 340px;
$s-slider-prev-purple-y: 252px;
$s-slider-prev-purple-offset-x: -340px;
$s-slider-prev-purple-offset-y: -252px;
$s-slider-prev-purple-width: 59px;
$s-slider-prev-purple-height: 59px;
$s-slider-prev-purple-total-width: 500px;
$s-slider-prev-purple-total-height: 438px;
$s-slider-prev-purple-image: 'images/sprite.png';
$s-slider-prev-purple: (340px, 252px, -340px, -252px, 59px, 59px, 500px, 438px, 'images/sprite.png', 's-slider__prev--purple', );
$s-slider-prev-white-name: 's-slider__prev--white';
$s-slider-prev-white-x: 422px;
$s-slider-prev-white-y: 170px;
$s-slider-prev-white-offset-x: -422px;
$s-slider-prev-white-offset-y: -170px;
$s-slider-prev-white-width: 59px;
$s-slider-prev-white-height: 59px;
$s-slider-prev-white-total-width: 500px;
$s-slider-prev-white-total-height: 438px;
$s-slider-prev-white-image: 'images/sprite.png';
$s-slider-prev-white: (422px, 170px, -422px, -170px, 59px, 59px, 500px, 438px, 'images/sprite.png', 's-slider__prev--white', );
$spritesheet-width: 500px;
$spritesheet-height: 438px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($s-balloon, $s-benefit-deadlines, $s-benefit-fixed-price, $s-benefit-guarantee, $s-benefit-installment, $s-benefit-years-of-success, $s-calculator, $s-carousel-projects-loupe, $s-form-blocks-name, $s-form-blocks-phone, $s-form-footer-email, $s-form-footer-message, $s-form-footer-name, $s-form-footer-phone, $s-form-arrow-green, $s-form-arrow-white, $s-header-call, $s-info, $s-popup-close, $s-popup-feedback-call, $s-radio-checked, $s-radio, $s-slider-next-purple, $s-slider-next-white, $s-slider-prev-purple, $s-slider-prev-white, );
$spritesheet: (500px, 438px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
