/* helpers classes */
input {
    transition: box-shadow 1s;
}
a:focus {
    outline: none;
}
i {
    display: inline-block;
}

/*********************************************
 * Basic site layout
 *********************************************/
body {
    font-size: 16px;
}
.site-wrapper {
    @include outer-container-fixed( 1280px );
    @include padding ( 0 50px );
    margin: 0 auto;
    position: relative;
}
