/* helpers classes */
input {
    transition: box-shadow 1s;
}
a:focus {
    outline: none;
}
i {
    display: inline-block;
}

/*********************************************
 * Basic site layout
 *********************************************/
body {
    font-size: 16px;
}
.site-wrapper {
    @include outer-container-fixed( 1280px );
    @include padding ( 0 50px );
    margin: 0 auto;
    position: relative;
}

/*********************************************
 * 01. Pagination block Styles
 *********************************************/
section.breadcrumbs-block {
    min-width: 1280px;
    margin-top: 131px;
    background: #eff0f4;
    @include padding( 15px null );
    
    ul {
        li {
            float: left;
            font-size: 13px;

            &:last-child:after{
                display: none;
            }

            &:after {
                content: '/';
                @include margin( null 10px );
                display: inline-block;
            }

        }
    }
}

.folding-cube__loading-container {
    @include position( fixed, 0 0 0 0 );
    z-index: 9999;
    @include size( 100% );
    //background: transparentize(#B6DD52, .1);
    background: #B6DD52;
    
    .sk-folding-cube {
        @include position( absolute, 0 0 0 0 );
        margin: auto;

        .sk-cube::before {
            background: #fff;
        }
    }
}