/*********************************************
 * Footer Section
 *********************************************/
section.site-footer {
    @include size( 100% 645px );
    padding-top: 108px;

    .site-footer__footer-container {
        display: flex;
        @include align-items(stretch);
        @include flex-direction(row);
        @include justify-content(flex-start);

        & > * {
            width: 50%;

            & > h3 {
                text-transform: uppercase;
                color: #fff;
                font-size: 30px;
            }
        }
    }

    .site-footer__contact-form-block {
        form {
            p {
                margin-bottom: 30px;
            }

            .inputs-row {
                @include clearfix();
                p {
                    width: 280px;
                    margin-right: 30px;
                    float: left;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            input[type="text"] {
                height: 44px;
            }

            input[type="text"],
            textarea {
                border-color: transparent;
                padding-left: 48px;
                box-shadow: none;
                margin-bottom: 0;
                
                @include placeholder {
                    color: #fff;
                }

                @include haf-pseudo {
                    border-color: #fff;
                    box-shadow: none;
                }
            }

            input[name="name"] {
                @include background( url( 'images/icons/form-footer__name.png' ) 16px center no-repeat, rgba( #fff, .4 ) );
            }

            input[name="phone"] {
                background: url( 'images/icons/form-footer__phone.png' ) 16px center no-repeat, rgba( #fff, .4 );
            }

            input[name="email"] {
                background: url( 'images/icons/form-footer__email.png' ) 16px center no-repeat, rgba( #fff, .4 );
            }

            textarea {
                background: url( 'images/icons/form-footer__message.png' ) 16px 12px no-repeat, rgba( #fff, .4 );
            }

        }
    }

    .site-footer__contact-info {
        padding-left: 50px;
    }
    .contact-info__contact-info-list {
        @include outer-container();

        .contacts-info-list__contact-item {
            @include span-columns( 6 );
            @include omega();
            height: 134px;
            color: #fff;

            span.contact-item__label {
                display: block;
                font-size: 12px;
                margin-bottom: 12px;
                text-transform: uppercase;
            }

            span.contact-item__info {
                font-size: 18px;
            }
        }
    }
}

section.copyrights {
    background: #67b72e;
    @include padding( 16px null );

    span {
        color: #fff;
        font-size: 14px;
    }
}