/*********************************************
 * Site header
 *********************************************/
.site-header {
    @include padding( 28px null 24px );
    @include position( fixed, 0 0 null 0);
    width: 100%;
    border-bottom: 4px solid $sub-dark-green;
    position: fixed;
    z-index: 100;
    background: #fff;
}

.site-header__navigation {
    float: left;

    ul {
        @include clearfix();
    }
    
    li {
        float: left;
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
        padding-bottom: 6px;
        position: relative;
        line-height: 72px;

        &::after {
            @include position ( absolute, 100% null null 0 );
            @include size ( 100% 1px );
            background: $sub-salad-green;
            content: '';
            opacity: 0;
            -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        &:hover::after,
        &:focus::after {
            height: 5px;
            opacity: .9;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
}

.site-header__feedback-call {
    float: right;
    width: 280px;
    padding-left: 60px;
    background: url( 'images/icons/header__call.png' ) left 10px no-repeat;
}
.feedback-call__working-schedule {
    text-transform: uppercase;
    font-size: 12px;
}