/*********************************************
 * Site header
 *********************************************/
.site-header {
    @include padding( 28px null 24px );
    @include position( fixed, 0 0 null 0);
    width: 100%;
    border-bottom: 4px solid $sub-dark-green;
    position: fixed;
    z-index: 100;
    background: #fff;

    .site-wrapper {
        display: flex;
        @include justify-content( space-between );

        &:after {
            display: none;
        }
    }
}
.site-header__navigation {
    ul {
        @include clearfix();
    }
    
    li {
        float: left;
        margin-right: 45px;

        &:last-child {
            margin-right: 0;
        }
    }

    li.active {
        a::after  {
            @include position ( absolute, 100% null null 0 );
            @include size ( 100% 1px );
            background: $sub-salad-green;
            content: '';
            height: 5px;
            opacity: .9;
            -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
    }

    a {
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        padding-bottom: 6px;
        position: relative;
        line-height: 63px;

        &::after {
            @include position ( absolute, 100% null null 0 );
            @include size ( 100% 1px );
            background: $sub-salad-green;
            content: '';
            opacity: 0;
            -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        &:hover::after,
        &:focus::after {
            height: 5px;
            opacity: .9;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
}

.site-header__feedback-call {
    width: 300px;

    .btn__rounded-dark-green {
        display: block;
        padding-left: 77px;
        font-size: 18px;
        background: $sub-dark-green url('images/icons/header__call.png') 16px center no-repeat;

        @include haf-pseudo {
            color: #fff;
            background: #548535 url('images/icons/header__call.png') 16px center no-repeat;
        }
    }
}
.feedback-call__working-schedule {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
}