/*********************************************
 * Contacts Page Styles
 *********************************************/
section.calculator-block {
  @include padding ( 30px null 80px );
}
.calculator-block__calculator-row {
    padding-top: 112px;

    &:first-child {
        padding-top: 0;
    }

    .calculator-row__header-container {
        margin-bottom: 65px;

        h2 {
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
        }

        .header-container__header-stripe {
            height: 4px;
            @include background( linear-gradient(to right, #b9df52, #6ba942) );
            width: 156px;
            margin: 0 auto;
        }
    }

    .calculator-row__radio-list {
        @include outer-container();

        &.radio-list__groundwork-list > .radio-list__radio-item,
        &.radio-list__walls-list > .radio-list__radio-item,
        &.radio-list__covering-list > .radio-list__radio-item {
            @include span-columns( 3 );
        }


        &.radio-list__floors-list > .radio-list__radio-item {
            @include span-columns( 6 );

            .radio-item__item-thumb {
                height: 316px;
                margin-bottom: 20px;
            }
        }

        &.radio-list__roof-list > .radio-list__radio-item {
            @include span-columns( 4 );

            .radio-item__item-thumb {
                height: 276px;
                margin-bottom: 20px;
            }
        }

        &.radio-list__groundwork-list > .radio-list__radio-item {
            .radio-item__item-thumb {
                height: 243px;
                margin-bottom: 20px;
            }
        }

        &.radio-list__walls-list > .radio-list__radio-item {
            .radio-item__item-thumb {
                height: 190px;
                margin-bottom: 20px;
            }
        }

    }

    .radio-list__radio-item {
        .radio-item__item-inputs {
            height: 69px;
            display: table-cell;
            vertical-align: middle;
        }
        img{
            display: block;
            margin: 0 auto;
        }

        label {
            padding-left: 56px;
            background: url('images/icons/radio.png') 1px center no-repeat;
            font-family: 'OpenSans Italic', sans-serif;
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
            
            &:hover {
                cursor: pointer;
            }
        }

        input[type="radio"]:checked + label {
            background: url('images/icons/radio--checked.png') 1px center no-repeat;
        }

        input[type="radio"] {
            display: none;
        }

        .radio-item__item-thumb {
            opacity: .5;
        }
    }
}


.calculator-block__inputs-block {
    width: 670px;
    margin: 70px auto 0;

    p {
        &:last-of-type {
            margin-bottom: 54px;
        }
    }

    label {
        text-align: left;
        color: #a8acb9;
        font-weight: bold;
        font-size: 12px;
        padding-left: 16px;
    }

    .inputs-block__inputs-row {
        @include outer-container();
        margin-bottom: 30px;


        & > p {
            @include span-columns( 6 );
            margin-bottom: 0;
        }

        input {
            margin-bottom: 0;
        }
    }

    input[name="home_square"] {
        width: 220px;
        display: inline-block;
        margin-right: 14px;
        margin-top: -20px;
        float: left;
    }

    span.input-unit {
        font-family: 'OpenSans Italic', sans-serif;
        font-size: 24px;
        float: right;
        margin-top: -20px;
        margin-right: 40px;
    }

    .wpcf7-form-control-wrap.home_square {
        display: block;
        width: 220px;
    }


    input[type="text"] {
        @include padding ( 14px 20px );
        -webkit-border-radius: 46px;
        -moz-border-radius: 46px;
        border-radius: 46px;
        background: #eff0f4;
        border: none;
        color: $base-font-color;
        font-size: 14px;
        margin-top: -20px;

        &:active,
        &:focus,
        &:hover {
            -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    3px 3px 11px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         3px 3px 11px 0px rgba(50, 50, 50, 0.75);
        }
    }

    input.btn__send-form--white-arrow[type="submit"],
    input[type="submit"]{
        margin-top: 8px;
        text-transform: uppercase;
        width: 327px;
        float: right;
        -webkit-border-radius: 46px;
        -moz-border-radius: 46px;
        border-radius: 46px;
        @include background( url('images/icons/form__arrow--white.png') 228px 20px no-repeat,
                linear-gradient(to right, #b9df52, #6ba942) );
        @include padding( 26px 72px 26px 78px );

        &:hover {
            @include padding( 26px 72px 26px 78px );
            @include background( url('images/icons/form__arrow--white.png') 228px 20px no-repeat,
                    linear-gradient(to right, darken( #b9df52, 10%) , darken( #6ba942, 10%) ) );
        }
    }
}