/*********************************************
 * Buttons Styles
 *********************************************/
.btn__rounded-dark-green {
  border-radius: 46px;
  background-color: $sub-dark-green;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  @include padding( 12px 16px );
  display: inline-block;
  text-decoration: none;
  
  &:hover {
    color: #fff;
    background: darken( $sub-dark-green, 10% );
  }
}

.btn__know-more,
form input.btn__know-more[type="submit"]{
    @include padding( 18px 26px );
    color: #fff;
    font-family: 'OpenSans Semibold', sans-serif;
    background-color: $sub-purple;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;
    border: 2px solid #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    
    &:hover {
        color: #fff;
        background-color: darken( $sub-purple, 8% );
    }
}

.btn__send-form--white-arrow,
form input.btn__send-form--white-arrow[type="submit"] {
    @include background( url('images/icons/form__arrow--white.png') 272px 20px no-repeat, linear-gradient(to right, #b9df52, #6ba942) );
    @include padding( 26px 72px 26px 62px );
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: 'OpenSans Semibold', sans-serif;
    width: 100%;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;

    &:hover {
        box-shadow: none;
        outline: none;
        @include background( url('images/icons/form__arrow--white.png') 272px 20px no-repeat,
                linear-gradient(to right, darken( #b9df52, 10%) , darken( #6ba942, 10%) ) );
    }
}

form input.btn__send-form--green-arrow[type="submit"] {
    @include background( url('images/icons/form__arrow--green.png') 200px 20px no-repeat, #fff );
    @include padding( 26px 72px 26px 42px  );
    text-transform: uppercase;
    color: $sub-dark-green;
    font-size: 18px;
    font-family: 'OpenSans Semibold', sans-serif;
    width: 272px;
    float: right;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;

    &:hover {
        box-shadow: none;
        color: #ffffff;
        outline: none;

        @include background( url('images/icons/form__arrow--white.png') 200px 20px no-repeat,
                lighten( $sub-dark-green, 7%) );
    }
}

.btn__know-more--green {
    text-transform: uppercase;
    background: $sub-dark-green;
    color: #fff;
    text-decoration: none;
    @include padding( 12px 26px );
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    display: inline-block;
    
    &:hover {
        color: #fff;
        background: darken( $sub-dark-green, 10% );
    }
}