mixin navListItem( name )
    li
        a( href="#" )= name


mixin projectsCarouselItems()
    a.project-carousel__project-item( href="#" )
        span.project-header Прокт Berbeys
        .project-item__project-card
            .project-card__project-thumb
                .project-thumb__onhover-block
                img( src="images/mockups/projects-carousel__thumb_01.jpg" )
            .project-deatails
                .project-details__details-row
                    span.detail-label Общая площадь
                    span 201 м<sup>2</sup>
                .project-details__details-row
                    span.detail-label Жилая площадь
                    span 201 м<sup>2</sup>

    a.project-carousel__project-item( href="#" )
        span.project-header Прокт Инесса
        .project-item__project-card
            .project-card__project-thumb
                .project-thumb__onhover-block
                img( src="images/mockups/projects-carousel__thumb_02.jpg" )
            .project-deatails
                .project-details__details-row
                    span.detail-label Общая площадь
                    span 201 м<sup>2</sup>
                .project-details__details-row
                    span.detail-label Жилая площадь
                    span 201 м<sup>2</sup>

    a.project-carousel__project-item( href="#" )
        span.project-header Прокт Bryza
        .project-item__project-card
            .project-card__project-thumb
                .project-thumb__onhover-block
                img( src="images/mockups/projects-carousel__thumb_03.jpg" )
            .project-deatails
                .project-details__details-row
                    span.detail-label Общая площадь
                    span 201 м<sup>2</sup>
                .project-details__details-row
                    span.detail-label Жилая площадь
                    span 201 м<sup>2</sup>